body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(207, 205, 205);
}
.nav{
    display: flex;
    justify-content:space-between;
    background-color: black;
    color: white;
    align-items: center;
    padding: 10px 3%;
    
}
.search input{
    border-radius: 5px;
}
.logo:hover{
    cursor: pointer;
    transition: all 2s;
    color: yellow;
}
.t:hover{
    cursor: pointer;
    transition: all 2s;
    color: yellow;
}
.search:hover{
    cursor: pointer;
    transition: all 2s;
    color: yellow;
}
.nav2{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    
}
.search{
    margin-left: 20px;
}
.nav1{
    display:flex;
    flex-direction:column;
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 15px;
    overflow-y: auto;
    width: 20%;
    
}
.nav1 div{
    padding: 10px 5px 0px 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav1 div h5{
    color:rgb(240, 235, 235)40, 235, 235)40, 235, 235)40, 235, 235)40, 235, 235)40, 235, 235)40, 235, 235)40, 235, 235)40, 235, 235)40, 235, 235);
}
.nav1 div a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    margin: 5px 0px 0px 8px;
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    
}
.nav1 div a:hover{
    border: solid 3px yellow;

    transition: all 0.1s;
}
.nav1 div a li{
    margin-left: 7px;
    text-decoration: none;
}
.main{
    display: flex;
    justify-content: space-between;
    
}
.box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  width: 75%;
    
   
}
.box1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    width:100%;
   
}
.box11{
    background-color: black;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-left: 1.75%;
    margin-right: 1.75%;
  
}
.p{
    color: yellow;
    margin-top: -5px;
}
.d{
    margin-bottom: -2px;
}